<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Portland Mass Times - Mass Times for Catholic Churches near Portland, Oregon</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<!-- start gmaps4rails stuff -->
	<%= yield :head %>
<!-- end gmaps4rails stuff -->
</head>
<body>

<div id="header">
  <div id="logo">
    <h1>PortlandMassTimes.com</h1>
    <h2>Helping you find your next mass.</h2>
  </div>

  <!-- <div id="zip-search">
    <span>Find a church near you:</span><br />
    <input type="text" id="address" value="Your Zip Code">
    <input type="button" value="Go" onclick="codeAddress()">
  </div> -->

</div>

<div id="sidebar">
	<h3>Search Results</h3>
	<ul id="markers_list"></ul>
</div>

<div id="map_container">
<%= gmaps({
			"markers" => {"data" => @json, "options" => {"list_container" => "markers_list"}},
			"map_options" => {"auto_adjust" => "true"}
		})
%>
</div>


<div id="footer">
  <p style="margin:0">PortlandMassTimes.com is a service of <a href="http://www.devoutdesign.com" title="Devout Design, Catholic web design and application development">Devout Design</a>.</p>
</div>

<!-- gmaps4rails stuff -->
<%= yield :scripts %>
</body>
</html>
