<%= form_for([@parish, @mass]) do |f| %>
  <% if @mass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mass.errors.count, "error") %> prohibited this mass from being saved:</h2>

      <ul>
      <% @mass.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br />
    <%= f.select :day, Date::DAYNAMES.zip((0..6).to_a) %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
