<h1>Listing masses</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Time</th>
    <th>Type</th>
    <th>Parish</th>
    <th></th>
    <th></th>
  </tr>

<% @masses.each do |mass| %>
  <tr>
    <td><%= mass.day %></td>
    <td><%= mass.start_time %></td>
    <td><%= mass.notes %></td>
    <td><%= mass.parish_id %></td>
    <td><%= link_to 'Edit', edit_parish_mass_path(@parish, mass) %></td>
    <td><%= link_to 'Destroy', parish_mass_path(@parish, mass), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mass', new_parish_mass_path(@parish) %>
