<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @mass.day %>
</p>

<p>
  <b>Time:</b>
  <%= @mass.start_time %>
</p>

<p>
  <b>Notes:</b>
  <%= @mass.notes %>
</p>


<%= link_to 'Edit', edit_parish_mass_path(@parish, @mass) %> |
<%= link_to 'Back', parish_masses_path(@parish) %>
